# BHIVE expression pipeline options:
#  bfs: Barcode flanking sequence, the sequence that precedes the barcode in the HIV construct

#bfs = TATAGTGAGTCGTA
bfs = TATAGTGAGTCGTATTAAAA

# EXPRESSION SAMPLES, format:
# dna:
# biological replicate, technical replicate, [{SRR,ERR,DRR} reference or [file] or [URL]]
#
# rna:
# biological replicate, technical replicate, [{SRR,ERR,DRR} reference or [file] or [URL]]
#
# Example,
# dna:
# 1,1,data/bhive_pcr_1.fastq.gz
# 1,2,SRR8447752
# 2,1,ftp://ftp.someserver.org/files/file_pcr1.fastq.gz
# 2,2,http://www.someserver.org/files/file_pcr2.fastq.gz

dna:
1,1,/project/BICF/BICF_Core/shared/Projects/Dorso/Bhive/raw_data/SRR3614677.fastq.gz
1,2,/project/BICF/BICF_Core/shared/Projects/Dorso/Bhive/raw_data/SRR3614678.fastq.gz
2,1,/project/BICF/BICF_Core/shared/Projects/Dorso/Bhive/raw_data/SRR3614679.fastq.gz
2,2,/project/BICF/BICF_Core/shared/Projects/Dorso/Bhive/raw_data/SRR3614680.fastq.gz

rna:
1,1,/project/BICF/BICF_Core/shared/Projects/Dorso/Bhive/raw_data/SRR3614681.fastq.gz
1,2,/project/BICF/BICF_Core/shared/Projects/Dorso/Bhive/raw_data/SRR3614682.fastq.gz
2,1,/project/BICF/BICF_Core/shared/Projects/Dorso/Bhive/raw_data/SRR3614683.fastq.gz
2,2,/project/BICF/BICF_Core/shared/Projects/Dorso/Bhive/raw_data/SRR3614684.fastq.gz

# Example: Two barcode PCR and two barcode RT-PCR were performed for each of the two biological replicates,
# yielding the following sequencing files:
# replicate1-dna-pcr1.fastq.gz
# replicate1-dna-pcr2.fastq.gz
# replicate1-rna-rtpcr1.fastq.gz
# replicate1-rna-rtpcr2.fastq.gz
# replicate2-dna-pcr1.fastq.gz
# replicate2-dna-pcr2.fastq.gz
# replicate2-rna-rtpcr1.fastq.gz
# replicate2-rna-rtpcr2.fastq.gz
# 
# the configuration file should contain:
# dna:
# 1,1,replicate1-dna-pcr1.fastq.gz
# 1,2,replicate1-dna-pcr2.fastq.gz
# 2,1,replicate2-dna-pcr1.fastq.gz
# 2,2,replicate2-dna-pcr2.fastq.gz
#
# rna:
# 1,1,replicate1-rna-rtpcr1.fastq.gz
# 1,2,replicate1-rna-rtpcr2.fastq.gz
# 2,1,replicate2-rna-rtpcr1.fastq.gz
# 2,2,replicate2-rna-rtpcr2.fastq.gz

